@import "common";

//Sticky footer
.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-section {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: center;
  height: 80px;
  color: $colorWhite;
  background-color: $colorDarkPurple;
}

.footer__inner {
  width: 1140px;
}
