.graphs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:: 910px;
}

.graph {
  width: 440px;
  height: 480px;
  margin: 30px 0 0 0;
  background-color: $colorWhite;
  position: relative;
}

.graph__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.graph__more-button {
  position: absolute;
  text-align: center;
  right: 22px;
  top: 30px;
  width: 17px;
  height: 17px;
}

.graph__more-button-link {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../assets/more_icon.svg);
  background-size: 3px;
  background-repeat: no-repeat;
  background-position: center;
}
.graph__data-visualisation {
  height: 300px;
  width: 440px;
  position: absolute;
  bottom: 0;
  left: 0;
}
