@import "common";

.header {
  height: 80px;
  padding: 20px 0;
  background-color: $colorWhite;
  display: flex;
  justify-content: center;
}

.header__inner {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  width: 110px;
  height: 20px;
  background-image: url(../assets/bambora_logo.svg);
  background-size: 110px;
  background-repeat: no-repeat;
}

.header-search {
  background-color: $colorLightGray;
  height: 40px;
  width: 200px;
  background-image: url(../assets/search_icon.svg);
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 164px center;
  padding: 20px 12px;
  border-radius: 20px;
}

.header-menu {
  display: block;
  width: 24px;
  height: 14px;
  background-image: url(../assets/hamburger_icon.svg);
  background-size: 24px;
  background-repeat: no-repeat;
}
