@import "reset";
@import "formReset.scss";
@import "colors";
@import "fonts";

body {
  background-color: $colorBg;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $colorTextGrey;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
}

*::-moz-selection {
  background: $colorTextPurple;
  color: $colorWhite;
}

*::selection {
  background: $colorTextPurple;
  color: $colorWhite;
}

a {
  text-decoration: none;
  color: $colorTextGrey;
  transition: color .2s ease;
}

a:hover {
  color: $colorTextBrightBlue;
}

p {
  font-size: 14px;
  line-height: 24px;
}

h2 {
  color: $colorTextDarkGrey;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}

h3 {
  color: $colorTextDarkGrey;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
