.phone {
  display: block;
  width: 275px;
  height: 562px;
  background-image: url(../assets/phone_new.svg);
  background-size: 275px;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.phone__big {
  width: 324px;
  height: 664px;
  background-size: 324px;
  background-image: url(../assets/phone_big.svg);
}

.phone.phone_ios {
  background-image: url(../assets/phone_new_ios.svg);
}

.phone--cut {
  top: 83px;
}

.phone--cut-more {
  top: 150px;
}

.phone-inner {
  position: absolute;
  left: 12px;
  top: 58px;
  width: 252px;
  height: 449px;
  background-image: url(../assets/multi6.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border: 1px solid #D2D7DB;
  border-radius: 2px;
}

.phone__big .phone-inner {
  width: 299px;
  height: 532px;
}

.phone-inner.phone-inner__2 {
  background-image: url(../assets/chat.png);
}

.phone-inner.phone-inner__3 {
  background-image: url(../assets/discover.png);

}
