.slide--blocks .slide-inner {
  flex-wrap: wrap;
}

.slide--blocks .slide-row {
  width: 100%;
}

.slide--blocks .slide-row__text .slide-row-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slide--blocks .slide-row__text .slide-row-inner .tagline {
  padding: 80px 0 0 0;
  width: 360px;
}

.slide--blocks .slide-row__blokcs {
  display: flex;
  align-items: flex-end;
}

.slide-blocks {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 0 110px 0;
  justify-content: space-between;
}

.slide-blocks.slide-blocks__hidden {
  transform: translate3d(0, 20px, 0);
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
}

.slide-blocks.shown {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.slide-block {
  flex-shrink: 0;
  flex-grow: 0;
  background-color: $colorWhite;
  border-radius: 8px;
  height: 275px;
  width: 360px;
}

.slide-block-inner {
  padding: 50px;
}

.block-icon {
  width: 30px;
  height: 30px;
  margin: 0 0 20px 0;
  background-size: 30px;
  background-repeat: no-repeat;
}

.block-icon__lock {
  background-image: url(../assets/icon-key.svg);
}

.block-icon__wand {
  background-image: url(../assets/icon-wand.svg);
}

.block-icon__coins {
  background-image: url(../assets/icon-stablecoin.svg);
}

.slide-block h3 {
  padding: 0 0 10px 0;
}
