.tagline {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.tagline.tagline__hidden {
  transform: translate3d(0, 20px, 0);
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
}

.tagline.shown {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.tagline-title {
  text-align: center;
  padding: 0 0 12px 0;
}
.tagline__inversed .tagline-title {
  color: $colorWhite
}

.tagline-text {
  line-height: 24px;
  text-align: center;
}

.tagline__inversed .tagline-text {
  color: $colorWhite
}
