@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic);

@font-face {
  font-family: 'RamblerRegular';
  src: url('../fonts/RamblerRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/RamblerRegular.otf')  format('opentype'),
	     url('../fonts/RamblerRegular.woff') format('woff'), url('../fonts/RamblerRegular.ttf')  format('truetype'), url('../fonts/RamblerRegular.svg#RamblerRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RamblerMedium';
  src: url('../fonts/RamblerMedium.eot?#iefix') format('embedded-opentype'),  url('../fonts/RamblerMedium.otf')  format('opentype'),
	     url('../fonts/RamblerMedium.woff') format('woff'), url('../fonts/RamblerMedium.ttf')  format('truetype'), url('../fonts/RamblerMedium.svg#RamblerMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
