$colorWhite: #FFFFFF;
$colorPurpleTransprent: rgba(182, 116, 241, .2);;

$colorBg: #EEF2F5;

$colorTextGrey: #808591;
$colorTextDarkGrey: #515C71;
$colorTextLightGrey: #BFC2C8;

$colorTextBrightBlue: #2BA6E9;
$colorTextPurple: #B574F0;

$colorBorderGrey: #DDE2E6;
