$colorWhite: #FFFFFF;
$colorPurpleTransprent: rgba(182, 116, 241, .2);;

$colorBg: #EEF2F5;
$colorBgLight: #F5F7F9;

$colorTextGrey: #808591;
$colorTextDarkGrey: #515C71;
$colorTextLightGrey: #BFC2C8;

$colorTextBrightBlue: #2BA6E9;
$colorTextPurple: #B574F0;

$colorBorderGrey: #DDE2E6;
$colorBorderLightGrey: #DDE2E6;

$colorBlack: #212121;
$colorPink: #D975CC;
$colorGreen: #5FC48D;
$colorRed: #DD847D;
$colorBlue: #7099E6;
$colorPurple: #A187D5;
