.slide {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
#particles {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: .3
}

.slide.slide--one {

}

.slide.slide--two {
  height: 100vh
}

.slide__inner {
  width: 1080px;
  position: relative;
}

.slide.slide--one .slide__inner {
  margin: 30px 0 0 0;
  background-image: linear-gradient(-1deg, #7E8CEA 0%, #4D5BB5 100%);
  box-shadow: 0px 10px 14px 0px rgba(79,90,166,0.35);
  border-radius: 10px;
  height: 810px;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
}

.phones {
  position: absolute;
  right: 500px;
  top: 84px;
}

.phone {
  background-repeat: no-repeat;
  position: absolute;
  transition: none;

  opacity: 0;
  transform: translate3d(0, 40px, 0);
  transition: transform .6s ease, opacity .3s ease;
}

.phone-wrap {
  position: absolute;
  transform: translate3d(0, 0, 0);
}

.phone.phone--iphone {
  transition-delay: .1s
}

.phone.phone--android {
  transition-delay: .2s;
  transform: translate3d(0, 40px, 0);
}

.shown .phone {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.phone-wrap--android {
  left: 230px;
  top: 110px;
  z-index: 400
}

.phone-wrap--iphone {
  left: 0;
  top: 0;
  z-index: 500
}

.phone--android {
  background-image: url(../assets/android@2x.png);
  width: 339px;
  height: 626px;
  background-size: 339px;
}

.phone--iphone {
  background-image: url(../assets/iphone@2x.png);
  width: 412px;
  height: 728px;
  background-size: 412px;
}

.text-block {
  position: absolute;
  bottom: -150px;
  left: 50%;
  margin: 0 0 0 -590px;
  background: $colorWhite;
  box-shadow: 0px -2px 18px 0px rgba(72,89,102,0.25);
  border-radius: 10px;
  width: 1180px;
  height: 300px;
  z-index: 800;

  opacity: 0;
  transform: translate3d(0, 40px, 0);
  transition: transform .6s ease, opacity .6s ease;
  transition-delay: .6s;
}

.shown .text-block  {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.tagline {
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  position: absolute;
  z-index: 200;
  text-align: center;
  width: 440px;
  left: 100px;
  top: 270px;
}

.tagline .tagline__title {
  font-family:PostGrotesk-Medium;
  color: $colorWhite;
  font-size: 25px;
  line-height: 35px;
  margin: 0 0 15px 0;

  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: transform .6s ease,opacity .6s ease;
  transition-delay: .1s;
}

.shown .tagline__title {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.tagline .tagline__body {
  color: $colorWhite;
  width: 350px;
  opacity: .6;
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 20px 0;

  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: transform .6s ease,opacity .6s ease;
  transition-delay: .2s;
}

.shown .tagline__body {
  opacity: .6;
  transform: translate3d(0, 0, 0);
}

.tagline__form {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: transform .6s ease,opacity .6s ease;
  transition-delay: .3s;
}

.shown .tagline__form {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}



.email-form {
  display: flex;
  width: 400px;
}

.email-form__input {
  height: 45px;
  line-height: 45px;
  border-radius: 8px;
}

.email-form__input--email {
  text-align: left;
  background-color: rgba(255, 255, 255, .12);
  color: rgba(255, 255, 255, .6);
  width: 210px;
  padding: 0 15px;
  margin: 0 15px 0 0;
}

.email-form__input--sumbit {
  width: 175px;
  font-family:PostGrotesk-Medium;
  font-size: 13px;
  color: $colorWhite;
  text-transform: uppercase;
    text-align: center;
  letter-spacing: 1px;
  background-color: rgba(104, 192, 248, 1)
}
