.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.slide {
  width: 100%;
  height: 96vh;
  min-height: 680px;
  max-height: 855px;

  display: flex;
  justify-content: center;
  border-bottom: 1px solid $colorBorderGrey;
  overflow: hidden;
}

.slide-inner {
  display: flex;
  justify-content:space-between;
}

.slide--narrow .slide-inner {
  width: 960px;
}

.slide--wide .slide-inner {
  width: 1160px;
}
