
.slide--top .slide-col {
  display: flex;
  align-items: center;
}

.slide--top .slide-col.slide-col__text {
  width: 360px;
}

.slide--top .slide-col.slide-col__text .slide-col-inner{
  padding: 60px 0 0 0;
}

.slide--top .slide-col.slide-col__phone {
  align-items: flex-end;
  justify-content: flex-end;
  width: 300px;
}
