.slide--access {
  background-image: linear-gradient(-156deg, #B674F1 14%, #6B93E7 58%, #2BABEE 100%);
  border: none
}

.slide--access .slide-inner {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.slide--access .slide-row {
  width: 100%;
}

.slide--access .slide-row__text .slide-row-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slide--access .slide-row__text .slide-row-inner .tagline {
  padding: 0 0 0 0;
  width: 360px;
}

.slide--access .slide-row__email{
  display: flex;
  justify-content: center;
  padding-top: 10px
}

.slide--access .slide-row__email .email-caption{
  width: 240px;
  height: 76px;
}

.slide--access .slide-row__blokcs {
  display: flex;
  align-items: flex-end;
}
