//Main Colors
$colorWhite: rgba(255, 255, 255, 1);
$colorBlue: rgba(49, 94, 251, 1);
$colorDeepBlue: rgba(39, 80, 224, 1);
$colorMidBlue: rgba(194, 200, 220, 1);

//BG colors
$colorBgLightBlue: rgba(236, 240, 243, 1);
$colorBgLighterBlue: rgba(246, 247, 250, 1);

//Text colors
$colorDarkBlue: rgba(73, 78, 89, 1);
$colorLightBlue: rgba(141, 150, 178, 1);

//Other colors
$colorOrange: rgba(255, 194, 94, 1);
