@import "reset";
@import "colors";
@import "fonts";

body {
  background-color: $colorBgLightBlue;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: $colorDarkBlue;
}

body a {
  text-decoration: none;
  color: $colorBlue;
}
