.direct {
  background-color: $colorBgLighterBlue;
  height: 36px;
  padding: 0 20px;
  color: $colorLightBlue;
  border-bottom: 1px solid $colorBgLightBlue;
  display: flex;
  align-items: center;
}

.direct__title {
  margin-right: 10px;
  white-space: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 20%;
}

.direct__desctiption {
  white-space: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 50%;
}

.direct__provider {
  margin-left: auto;

}
