.folder-header {
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid $colorBgLightBlue;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.folder-header__inner {
  justify-content: space-between;
  align-items: center;
  @extend .u-inner;
}

.folder-header .send-button {
  height: 34px;
  line-height: 34px;
  width: auto;
  display: inline-block;
  padding: 0 24px;
  margin: 0;
}

.folder-header__sidebar {
  width: 320px;
  margin: 0 0 0 0;
  border-right: 1px solid $colorBgLightBlue
}

.folder-header__main {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
}

.folder-header.folder-header_sticky {
  position: fixed;
  top: 0;
  left: 0;
  height: 54px;
  width: 100%;
  background-color: $colorWhite;
  border-bottom: none;
  z-index: 999;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.09);

  opacity: 1;
  visibility: hidden;
  transform: translate3d(0, -100% ,0) scale(1);
  transition: visibility .5s linear 0s, opacity .2s ease, transform .2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.folder-header.folder-header_sticky.folder-header_expanded {
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
  visibility: visible;
}

.selector {
  position: relative;
  height: 54px;
  margin: 0 10px 0 20px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.selector__counter {
  display: none;
  cursor: pointer;
  padding: 0 0 0 10px;
  color: $colorIconBlue
}

.selector_some-checked .selector__counter {
  display: block;
}

.selector_some-checked .selector__bird {
  padding: 6px 6px 6px 4px;
}

.selector__checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border: 2px solid;
  border-color: $colorMidBlue;
  cursor: pointer;
  //transition: border-color .2s ease;
}

.selector__checkbox-tick {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 9px;
  height: 7px;
  fill: $colorWhite;
  opacity: 0;
  transition: opacity .1s linear;
}

.selector__checkbox:hover{
  border-color: $colorLightBlue
}

.selector__checkbox-minus {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 8px;
  height: 2px;
  background-color: $colorWhite;
  opacity: 0;
  transition: opacity .1s linear;
}

.selector_some-checked .selector__checkbox {
  background-color: $colorBlue;
  border-color: $colorBlue;
}

.selector_some-checked .selector__checkbox-tick {
  opacity: 0
}

.selector_some-checked .selector__checkbox-minus {
  opacity: 1
}

.selector_all-checked .selector__checkbox,
.selector_all-checked.selector_some-checked .selector__checkbox {
  background-color: $colorBlue;
  border-color: $colorBlue;
}

.selector_all-checked .selector__checkbox-tick,
.selector__checkbox_all-checked.selector__checkbox_some-checked .selector__checkbox-tick {
  opacity: 1
}

.selector__checkbox_all-checked .selector__checkbox-minus,
.selector_all-checked.selector_some-checked .selector__checkbox-minus {
  opacity: 0
}

.selector__bird {
  cursor: pointer;
  box-sizing: content-box;
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  width: 12px;
  height: 8px;
}

.selector__bird svg{
  display: block;
  width: 12px;
  height: 8px;
  fill: $colorMidBlue;
  transition: fill .2s ease;
}

.selector__bird:hover svg{
  fill: $colorLightBlue;
}

.selector_nav-opened .selector__bird svg{
  fill: $colorLightBlue;
}

.selector__nav {
  position: absolute;
  top: 45px;
  left: -5px;
  padding: 15px 0;
  background-color: $colorWhite;
  box-shadow: -2px 2px 10px 0px rgba(46,49,53,0.19);
  z-index: 800;
  line-height: 20px;

  opacity: 0;
  transform: translate3d(0, 10px ,0) scale(1);
  visibility: hidden;
  transition: visibility .5s linear 0s, opacity .2s ease, transform .3s cubic-bezier(0.175, 0.885, 0.135, 1.425);
}

.selector_nav-opened .selector__nav {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0 ,0) scale(1);
}

.selector__nav-item a {
  display: block;
  padding: 6px 25px 6px 20px;
  color: $colorDarkBlue;
  transition: color .1s linear;
}

.selector__nav-item a:hover {
  color: $colorBlue;
}

.selector-buttons {
  padding: 0 14px;
  display: flex;
  opacity: 0;
}

.selector-button {
  padding: 0 20px 0 0;
  cursor: pointer;
  position: relative;
}

.selector-button svg {
  fill: $colorIconBlue;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  transition: fill .2s ease;
}

.selector-button__label {
  display: inline-block;
  vertical-align: middle;
  color: $colorIconBlue;
  padding: 0 0 0 5px;
}

.selector-button:hover svg {
  fill: $colorDarkBlue;
}

.selector-button:hover .selector-button__label {
  color: $colorDarkBlue;
}

.selector-buttons.selector-buttons_expanded {
  opacity: 1
}
/*
.selector-button__label {
  display: block;
  height: auto;
  width: auto;
  text-align: center;
  line-height: 0;
  position: absolute;
  background-color: $colorDarkBlue;
  color: $colorWhite;
  padding: 20px;
  top: -45px;
  left: 50%;
  white-space: nowrap;

  opacity: 0;
  transform: translate3d(-50%, 4px ,0) scale(.9);
  visibility: hidden;
  transition: visibility .3s linear 0s, opacity .3s ease, transform .3s cubic-bezier(0.175, 0.885, 0.135, 1.425);
}
.selector-button:hover .selector-button__label {
  opacity: 1;
  visibility: visible;
  transform: translate3d(-50%, 0 ,0) scale(1);
}
*/
