.folder-header {
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid $colorBgLightBlue;
  display: flex;
  align-items: center;
}

.selector {
  position: relative;
  margin: 0 10px 0 20px;
  flex-shrink: 0;
  flex-grow: 0;
}

.selector__checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border: 2px solid $colorMidBlue;
  cursor: pointer;
}

.selector__checkbox-tick {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 9px;
  height: 7px;
  fill: $colorWhite;
  opacity: 0;
  transition: opacity .1s linear;
}

.selector__checkbox-minus {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 8px;
  height: 2px;
  background-color: $colorWhite;
  opacity: 0;
  transition: opacity .1s linear;
}

.selector__checkbox.selector__checkbox_some-checked {
  background-color: $colorBlue;
  border-color: $colorBlue;
}

.selector__checkbox_some-checked .selector__checkbox-tick {
  opacity: 0
}

.selector__checkbox_some-checked .selector__checkbox-minus {
  opacity: 1
}

.selector__checkbox.selector__checkbox_all-checked,
.selector__checkbox.selector__checkbox_some-checked.selector__checkbox_all-checked {
  background-color: $colorBlue;
  border-color: $colorBlue;
}

.selector__checkbox_all-checked .selector__checkbox-tick,
.selector__checkbox_all-checked.selector__checkbox_some-checked .selector__checkbox-tick {
  opacity: 1
}

.selector__checkbox_all-checked .selector__checkbox-minus,
.selector__checkbox_all-checked.selector__checkbox_some-checked .selector__checkbox-minus {
  opacity: 0
}

.selector__bird {
  cursor: pointer;
  box-sizing: content-box;
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  width: 10px;
  height: 5px;
  background-image: url(../assets/bird.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.selector__nav {
  position: absolute;
  top: 45px;
  left: -5px;
  padding: 15px 0;
  background-color: $colorWhite;
  box-shadow: -2px 2px 10px 0px rgba(46,49,53,0.19);
  z-index: 800;
  line-height: 20px;

  opacity: 0;
  transform: translate3d(0, 10px ,0) scale(1);
  visibility: hidden;
  transition: visibility .5s linear 0s, opacity .2s ease, transform .3s cubic-bezier(0.175, 0.885, 0.135, 1.425);
}

.selector__nav.selector__nav_opened {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0 ,0) scale(1);
}

.selector__nav-item a {
  display: block;
  padding: 6px 25px 6px 20px;
  color: $colorDarkBlue;
  transition: color .1s linear;
}

.selector__nav-item a:hover {
  color: $colorBlue;
}

.search {
  width: 200px;
  height: 33px;
  padding: 0 0 0 10px;
  line-height: 33px;
  color: $colorMidBlue;
  background-color: $colorBgLighterBlue;
  margin-left: auto;
  margin-right: 10px;
  background-image: url(../assets/search.svg);
  background-repeat: no-repeat;
  background-position: 175px 7px;
  cursor: pointer;

  transition: background-color .2s ease;
}

.search:hover {
  background-color: $colorBgLightBlue;
}
