.header {
  height: 65px;
  padding: 0 0;
  background-color: $colorWhite;
  display: flex;
  justify-content: center;
}

.header__inner {
  justify-content: space-between;
  align-items: center;
  @extend .u-inner;
}

.logo-wrap {
    width: 320px;
}

.logo {
  display: block;
  width: 160px;
  height: 25px;
  background-size: 160px;
  background-repeat: no-repeat;
  background-image: url("../assets/logo.svg");
}

.menu__item {
  display: inline-block;
  margin: 0 25px 0 0;
}

.menu__item_ad {
  color: #20A052;
  cursor: pointer;
}

.menu__item_ad-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;

  width: 27px;
  height: 27px;
  background-size: 27px;
  background-repeat: no-repeat;
  background-image: url("../assets/ad.png");
}

.menu__item_ad-text {
  display: inline-block;
  vertical-align: middle;
}

.menu__item_ad:hover .menu__item_ad-image{
  opacity: .8
}

.menu__item_ad:hover .menu__item_ad-text {
  opacity: .8
}

.menu__item a {
  display: inline-block;
  height: 65px;
  line-height: 65px;
  color: $colorDarkBlue;
  transition: color .1s linear;
}

.menu__item.menu__item-current a{
  //border-bottom: 2px solid $colorBlue;
  font-weight: 500;
}

.menu__item.menu__item-current a,
.menu__item a:hover {
  color: $colorBlue;
}

.settings {
  display: inline-block;
  margin-left: auto;
}

.settings a{
  color: $colorDarkBlue;
  transition: color .1s linear;
}

.settings a:hover{
  color: $colorBlue;
}
