.list-item {
  height: 46px;
  padding: 0 20px;
  border-bottom: 1px solid $colorBgLightBlue;
  background-color: $colorWhite;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.list-item:hover {
  background-color: $colorBgLighterBlue;
  cursor: pointer;
}

.list-item__checkbox {
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid $colorMidBlue;
  background-color: transparent;
  margin: 0 10px 0 0;
  flex-shrink: 0;
  flex-grow: 0;
}

.list-item__checkbox-tick {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 9px;
  height: 7px;
  fill: $colorWhite;
  opacity: 0;
  transition: opacity .1s linear;
}

.list-item__star {
  width: 14px;
  height: 14px;
  background-size: 14px;
  margin: 0 10px 0 0;
  flex-shrink: 0;
  flex-grow: 0;
  transition: fill .2s ease
}

.list-item__star svg {
  width:14px;
  height: 13px;
  fill: $colorMidBlue;
  transition: fill .1s ease;
}

.list-item__star:hover svg {
  fill: $colorLightBlue;
}

.list-item__sender {
  width: 140px;
  white-space: nowrap;
  margin: 0 20px 0 0;
  flex-shrink: 0;
  flex-grow: 0;
}

.list-item__text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $colorLightBlue;
}

.list-item__subject {
  color: $colorDarkBlue;
}

.list-item__snippet {
  padding: 0 0 0 10px;
}

.list-item__date {
  width: 46px;
  text-align: right;
  margin-left: auto;
  flex-shrink: 0;
  flex-grow: 0;
}

//States

//Checked
.list_some-are-checked .list-item {
  background-color: $colorBgLighterBlue;
}

.list_some-are-checked .list-item.list-item_checked {
  background-color: $colorWhite;
}

.list_some-are-checked .list-item_new .list-item__checkbox {
  border-radius: 0%;
  background-color: transparent;
  border-color: $colorMidBlue;
}

//New
.list-item_new .list-item__checkbox {
  border-radius: 50%;
  background-color: $colorBlue;
  border-color: $colorBlue;
}

.list-item.list-item_new:hover .list-item__checkbox {
  border-radius: 0%;
  background-color: transparent;
  border-color: $colorMidBlue;
}

.list_some-are-checked .list-item.list-item_new:hover .list-item__checkbox {
  background-color: $colorBgLighterBlue;
}

.list-item.list-item_new.list-item_checked:hover .list-item__checkbox {
  border-radius: 0;
  background-color: $colorBlue;
  border-color: $colorBlue;
}

.list-item_new .list-item__sender {
  font-weight: 700;
}

.list-item_new .list-item__subject {
  font-weight: 700;
}

.list-item_checked .list-item__checkbox {
  background-color: $colorBlue;
  border-color: $colorBlue;
}

.list-item_checked.list-item_new .list-item__checkbox {
  border-radius: 0;
  background-color: $colorBlue;
  border-color: $colorBlue;
}

.list-item_checked .list-item__checkbox-tick {
  opacity: 1
}

.list-item_faved .list-item__star svg {
  fill: $colorOrange;
}

.list-item_faved .list-item__star svg {
  //animation-name: fav;
  //animation-fill-mode: forwards;
  //animation-direction: alternate;
  //animation-iteration-count: 1;
  //animation-timing-function: ease-out;
  //animation-duration: .4s;
}

@keyframes fav {
  10% {
    fill: $colorOrange;
  }

  50% {
    transform:scale(1.5);
    fill: $colorOrange;
  }

  80% {
    transform:scale(.7);
    fill: $colorOrange;
  }

  100% {
    transform:scale(1);
    fill: $colorOrange;
  }
}
