.search-wrap {
  margin-left: auto;
}

.search-icon {
  margin: 0 18px 0 0;
  width: 19px;
  height: 18px;
  cursor: pointer;
}

.search-icon svg {
  display: block;
  width: 18px;
  height: 18px;
  fill: $colorMidBlue;
  transition: fill .2s ease;
}

.search-icon:hover svg{
  fill: $colorLightBlue
}

.search {
  position: absolute;
  right: 0;
  top: 0;
  height: 54px;
  width: 200px;
  background-color: $colorWhite;
  border: 2px solid $colorBlue;
  display: flex;

  opacity: 0;
  transform: translate3d(0, 0 ,0) scale(1);
  visibility: hidden;
  transition: visibility .5s linear 0s, opacity .3s ease, width .3s ease, transform .4s ease;
}

.search.search_expanded{
  width: 500px;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0 ,0) scale(1);
}

.search__field {
  padding: 0 0 0 15px;
  flex-shrink: 1;
  flex-grow: 1;
}

.search__field input {
  width: 90%;
  font-size: 13px;
  padding: 0;
}

.search__field input::placeholder{
  color: $colorMidBlue
}

.search__button {
  cursor: pointer;
  width: 60px;
  height: 50px;
  background-color: $colorBlue;
  background-image: url(../assets/icon_search_white.svg);
  background-repeat: no-repeat;
  background-position: center;

  flex-shrink: 0;
  flex-grow: 0;
}

.search__dropdown {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0 10px;
}

.search__dropdown-selected-text {
  cursor: pointer;
}

.search__dropdown-selected-text::after {
  content: "";
  box-sizing: content-box;
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  width: 10px;
  height: 5px;
  background-image: url(../assets/bird.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.search__dropdown-nav {
  position: absolute;
  top: 45px;
  right: 10px;
  padding: 15px 0;
  background-color: $colorWhite;
  box-shadow: -2px 2px 10px 0px rgba(46,49,53,0.19);
  z-index: 800;
  line-height: 20px;

  opacity: 0;
  transform: translate3d(0, 10px ,0) scale(1);
  visibility: hidden;
  transition: visibility .5s linear 0s, opacity .2s ease, transform .3s cubic-bezier(0.175, 0.885, 0.135, 1.425);
}

.search__dropdown_expanded .search__dropdown-nav{
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0 ,0) scale(1);
}

.search__dropdown-nav-item {
  //border-left: 2px solid $colorWhite;
  transition: border-color .2s ease
}

.search__dropdown-nav-item a {
  display: block;
  padding: 6px 25px 6px 20px;
  color: $colorDarkBlue;
  transition: color .1s linear;
}

.search__dropdown-nav-item a:hover {
  color: $colorBlue;
}

.search__dropdown-nav-item.search__dropdown-nav-item-current{
  //border-left: 2px solid $colorBlue;
}

.search__dropdown-nav-item.search__dropdown-nav-item-current a{
  color: $colorBlue;
}
