.sidebar {
  width: 300px;
  margin: 20px 20px 20px 0;
}

.sidebar__top {
  padding: 20px 0;
  background-color: $colorWhite;
  margin: 0 0 20px 0;
}

.send-button {
  background-color: $colorBlue;
  color: $colorWhite;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 260px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  margin: 0 20px;
  cursor: pointer;
  transition: background-color .1s ease;
}

.send-button:hover {
  background-color: $colorDeepBlue
}

.sidebar-nav {
  padding: 15px 0 0 0;
}

.sidebar-nav__item {
  display: block;
  width: 260px;
  padding: 0 20px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}

.sidebar-nav__item-secondary {
  display: none;
}

.sidebar-nav_expanded .sidebar-nav__item-secondary {
  display: block;
}

.sidebar-nav__item a {
  display: block;
  color: $colorDarkBlue;
}

.sidebar-nav__item.sidebar-nav__item_more a {
  color: $colorLightBlue;
}

.sidebar-nav__item-icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.sidebar-nav__item-icon svg {
  display: block;
  fill: $colorMidBlue;
  transition: fill .1s ease;
}

.sidebar-nav__item_current .sidebar-nav__item-icon svg {
  fill: $colorBlue;
}

.sidebar-nav__item-title {
  padding: 0 0 0 15px;
  display: inline-block;
  vertical-align: middle;
}

.sidebar-nav__item-cleanUpLink {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  float: right;
  color: $colorLightBlue;
  opacity: 0;
  transform: translate3d(6px, 0, 0);
  transition: opacity .2s ease, transform .2s ease;
}

.sidebar-nav__item-counter {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  float: right;
  color: $colorLightBlue;
}

.sidebar-nav__item_current .sidebar-nav__item-counter {
  color: $colorBlue
}

.sidebar-nav__item.sidebar-nav__item_current a,
.sidebar-nav__item a:hover {
  color: $colorBlue
}

.sidebar-nav__item a:hover .sidebar-nav__item-cleanUpLink {
  transform: translate3d(0, 0, 0);
  opacity: .7
}

.sidebar-nav__item a:hover .sidebar-nav__item-cleanUpLink:hover {
  transform: translate3d(0, 0, 0);
  opacity: 1
}

//more link
.sidebar-nav__item.sidebar-nav__item_more a:hover {
  color: $colorMidBlue;
}

.sidebar-nav__item a:hover .sidebar-nav__item-icon svg {
  fill: $colorBlue
}

.sidebar__ad {
  margin: 20px 0 0 0;
  padding: 30px;
  text-align: center;
  background-color: $colorWhite;
}

.sidebar__ad__banner {
  display: inline-block;
  width: 240px;
  height: 400px;
  background-image: url(../assets/ad.jpg);
  background-size: 240px;
}
