.topline {
  display: flex;
  justify-content: center;
  height: 36px;
  background-color: $colorWhite;
  border-bottom: 1px solid $colorBgLightBlue;
}

.topline__inner {
  justify-content: space-between;
  align-items: center;
  @extend .u-inner;
}

.product-list__item {
  font-size: 12px;
  display: inline-block;
  margin: 0 25px 0 0;
}

.product-list__item a{
  color: $colorDarkBlue;
  transition: color .1s linear;
}

.product-list__item a:hover{
  color: $colorLightBlue;
}

.user {
  font-size: 12px;
}

.user__avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: $colorBgLightBlue;
  background-image: url(../assets/chris.jpg);
  background-size: 34px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 0 6px;
}

.user__first-name {
  display: inline-block;
  vertical-align: middle;
}
