//Grid
.graph__grid path{
  display: none;
}

.graph__grid--y line {
  stroke: #979797;
  stroke-dasharray: 4,2;
  opacity: .4
}

.graph__grid--x line {
  stroke: #979797;
  stroke-dasharray: 4,2;
  opacity: .4
}

//Axes
.graph__axis path{
  display: none;
}

.graph__axis line {
  display: none;
}

//Axis labels
.graph__axis text {
    font-family: 'MuseoSansRegular';
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.graph__line {
   fill: none;
   stroke: #91DBA9;
   opacity: 1;
}

.graph--daily-payments-graph .graph__line {
   fill: none;
   stroke: #6DCAF6;
   opacity: 1;
}

.graph__hover-line {
  fill: none;
  stroke: #979797;
  stroke-dasharray: 4,2;
  transition: opacity 0.1s ease;
}

.graph--daily-income-graph .graph__area {
  fill: #4FB972;
  opacity: .2;
}

.graph--total-income-graph .graph__area {
  fill: #4FB972;
  opacity: .2;
}

.graph--daily-payments-graph .graph__area {
  fill: #6DCAF6;
  opacity: .3;
}

.graph--daily-payments-graph .graph__circle {
  fill: #C5EAFC;
  stroke:#6DCAF6;
}

.graph--daily-income-graph .graph__circle {
  fill: #DCF1E3;
  stroke:#91DBA9;
}

.graph--total-income-graph .graph__circle.graph__circle--moving {
  fill: #000;
  stroke:#000;
}

.focus text {
  font-family: 'MuseoSansRegular';
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  fill: white;
}

.graph__focus {
  transition: opacity 0.2s linear, transform 0.2s linear;
}
