@import "reset";
@import "formReset";
@import "colors";
@import "fonts";

body {
  background-color: $colorLightGray;
  font-family: "MuseoSansRegular" , Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $colorDarkPurple;
}
