.footer {
  display: flex;
  margin: 30px 0 0 0;
  padding: 60px 0;
  justify-content: center;
  color: $colorWhite;
  background-color: $colorDarkPurple;
}

a.footer__logo {
  display: block;
  width: 110px;
  height: 20px;
  background-image: url(../assets/bambora_logo_white.svg);
  background-size: 110px;
  background-repeat: no-repeat;
  transition: opacity 0.2s linear;
  opacity: .4;
}

a.footer__logo:hover {
  opacity: 1
}

.footer a{
  color: $colorWhite;
  text-decoration: none;
}

.footer__inner {
  width: 1140px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__navs {
  width: 440px;
  display: flex;
  justify-content: space-between;
}

.footer__navs a {
  display: inline-block;
  padding: 0 0 20px 0;
  transition: opacity 0.2s linear;
}

.footer__navs a:hover {
  opacity: .4
}

.footer__bottom {
  margin: 60px 0 0 0;
  padding: 60px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.footer__bottom {
  opacity: 0.4
}
